{% extends "base.html" %}

{% block content %}
	<!--{% for num in range(0, 10) %}
		<li>{{ num*2 }}</li>
	{% endfor %}
	{% for house in houses %}
		<li>{{ house }}</li>
	{% endfor %}-->

	<main>
		<header class="white-text-container section-container">
		    <div class="text-center">
		        <h1>Chigozie Davis Onyeije</h1>
		        <p>Software Engineer</p>
			    <p>
				    <a href="https://gitlab.com/goziedavis" class="mr-4" title="My Gitlab Repo">
					    <i class="fab fa-gitlab fa-2x"></i>
				    </a>
				    <a href="https://www.linkedin.com/in/chigozie-davis-onyeije-709675135/" class="mr-4" title="My LinkedIn page">
					    <i class="fab fa-linkedin fa-2x"></i>
				    </a>
				    <a href="https://www.facebook.com/profile.php?id=100004598506728" class="mr-4" title="My Facebook page">
					    <i class="fab fa-facebook fa-2x"></i>
				    </a>
				    <a href="https://twitter.com/the_seventh_s0n" class="mr-4" title="My Twitter page">
					    <i class="fab fa-twitter fa-2x"></i>
				    </a>
				    <a href="{{url_for('static', filename='files/Chigozie_Davis_Onyeije_Resume.pdf')}}" class="mr-4" title="My Resume">
					    <i class="far fa-file-pdf fa-2x"></i>
				    </a>
			    </p>
		    </div>
        </header>

		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<div class="card p-5">
						<div class="card-block">
				            <h2 class="mb-5">About me</h2>
				            <div class="row">
				                <div class="col-md-4 text-center">
				                    <p><img src="{{url_for('static', filename='assets/images/profile.jpg')}}" class="img-responsive img-fluid" alt=""></p>
				                </div>
					            <div class="col-md-8">
				                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				                </div>
				            </div>
						</div>
					</div>

					<div class="m-5"></div>

					<div class="card p-5">
			            <div class="card-block">
			                <h2>Projects</h2>
			                <div class="row">
			                    <div class="col-md-4">
			                        <img src="{{url_for('static', filename='assets/images/img-02.jpg')}}" class="img-responsive" alt="">
			                        <h3 class="h5">Amelia App</h3>
			                        <p>June 2017</p>
			                    </div>
			                    <div class="col-md-4">
			                        <img src="{{url_for('static', filename='assets/images/img-03.jpg')}}" class="img-responsive" alt="">
			                        <h3 class="h5">Portland</h3>
			                        <p>March 2017</p>
			                    </div>
			                    <div class="col-md-4">
			                        <img src="{{url_for('static', filename='assets/images/img-04.jpg')}}" class="img-responsive" alt="">
			                        <h3 class="h5">Denz for Nilon</h3>
			                        <p>Jan 2017</p>
			                    </div>
			                </div>
			            </div>
			        </div>

					<div class="m-5"></div>

					<div class="card p-5">
			            <div class="card-block">
			                <h2>Work</h2>
			                <div class="work-experience">
			                    <small class="date">2017-2015</small>
			                    <h3 class="h5 date-title">Web developer - <a href="http://en.orson.io" title="Create professionnal website">Orson.io</a></h3>


			                    <p>Leo vel orci porta non pulvinar neque laoreet suspendisse interdum. Vitae ultricies leo integer malesuada nunc. Imperdiet proin fermentum leo vel orci porta non pulvinar neque. Fermentum leo vel orci porta non. Posuere sollicitudin aliquam ultrices sagittis. Aliquam faucibus purus in massa tempor nec.</p>
			                </div>

			                <div class="work-experience">
			                    <small class="date">2017-2015</small>
			                    <h3 class="h5 date-title">Web developer - <a href="http://mashup-template.com" title="">Mashup Template</a></h3>

			                    <p>Fermentum leo vel orci porta non. Posuere sollicitudin aliquam ultrices sagittis. Aliquam faucibus purus in massa tempor nec.</p>
			                </div>
			            </div>
			        </div>

					<div class="m-5"></div>

					<div class="card p-5">
			            <div class="card-block">
			                <h2>Education</h2>
			                <div class="row">
			                    <div class="col-md-4">
			                        <div class="education-experience">
			                            <small class="date">2016-2020</small>
			                            <h3 class="h5 date-title">
				                            Bachelor of Computing in Software Engineering/Honours in Mathemathics(BComp.SENG/Honours)
			                            </h3>
			                            <p>University of Guelph, Ontario</p>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>

					<div class="m-5"></div>

					<!--<div class="card">
			            <div class="card-block">
			                <h2>Language</h2>
			                <div class="row">
			                    <div class="col-md-4">
			                        <div class="language-experience">
			                            <h3 class="h5">English  <small>Bilingual</small></h3>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>

					<div class="m-5"></div>-->

					<!-- Add div for webscraping here -->
					<div class="card p-5">
			            <div class="card-block" style="line-height:26pt">
			                <h2>Top Stories From The HackerNews Front Page</h2>
				            <h5><small>(from a webscraping mini-project I did)</small></h5>
			                {% for title, link in top_news.items() %}
				                <a href="{{link}}">{{ title }}</a><br>
				            {% endfor %}
			            </div>
			        </div>

					<div class="m-5"></div>

					<div class="card p-5">
			            <div class="card-block" style="line-height:26pt">
			                <h2>Password Checker</h2>
				            <h5><small>(from another mini-project I did)</small></h5>
			                <form onsubmit="return false">
				                <div class="form-group">
					                <label for="testpassword">Enter a password:</label>
					                <input type="password" id="testpassword" class="form-control">
				                </div>
				                <p id="password-check-info"></p>
				                <button type="submit" class="btn btn-primary" onclick="getData()">Check password</button>
			                </form>
			            </div>
			        </div>

					<div class="m-5"></div>
					
				<div class="card p-5">
			            <div class="card-block">
			                <h2>Send me a message</h2>
			                <form>
				                <div class="form-group">
					                <label for="useremail">Email:</label>
					                <input type="email" id="useremail" class="form-control">

					                <label for="msgsubject">Subject:</label>
					                <input type="text" id="msgsubject" class="form-control">

					                <label for="msgtext">Message:</label>
					                <textarea rows="10" id="msgtext" class="form-control"></textarea>
				                </div>
				                <button type="submit" class="btn btn-primary">Send Message</button>
			                </form>
			            </div>
			        </div>

					<div class="m-5"></div>

				</div>
			</div>
		</div>
	</main>
{% endblock %}
